PORT=13000
DATABASE_URL=postgres://postgres:postgres@localhost:15432/ops
SEED_ON_BOOT=true
SIMULATOR_ENABLED=true
SIMULATOR_INTERVAL_MS=8000
# mock | mediamtx
CAMERA_SOURCE=mock
# MEDIAMTX_HLS_URL=http://localhost:8888
# MEDIAMTX_WEBRTC_URL=http://localhost:8889
# MEDIAMTX_PROTOCOL=hls
